services:
  db:
    image: pgvector/pgvector:pg17
    container_name: licita_db
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      TZ: America/Bogota
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./init-db.sh:/docker-entrypoint-initdb.d/01-init-db.sh:ro
      - ./backups/rag_db_20251029_222349.dump:/docker-entrypoint-initdb.d/backup.dump:ro
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 20
      start_period: 20s
    networks: [backend]


  pgadmin:
    image: dpage/pgadmin4:8
    container_name: licita_pgadmin
    depends_on:
      db:
        condition: service_healthy
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASSWORD}
      TZ: America/Bogota
    ports:
      - "${PGADMIN_PORT}:80"
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    networks: [backend]

  app:
    build:
      context: ./app
      dockerfile: Dockerfile
    container_name: licita_app
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - .env
    environment:
      DATABASE_URL: postgresql+psycopg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
      TZ: America/Bogota
    ports:
      - "${APP_PORT}:8000"
    restart: unless-stopped
    networks: [backend]

volumes:
  db_data:
  pgadmin_data:

networks:
  backend:
    driver: bridge
